.maincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgrey;
}
.subcontainer{
    border: 2px solid black;
    padding: 5px;
    background-color: whitesmoke;
    box-shadow: 3px 4px 4px;
}
.subcontainer>h1{
    margin: 10px 5px;
    color: blue;
}
.section{
    margin-left: 5px;
}

.pass{
    display: block;
    margin-left: 5px;
}
.password{
    font-weight: bold;
    margin-left: 5px;
}
.section>div{
    margin:10px 0px;
}
.btn1{
    background-color: rgb(48, 94, 247);
    color: white;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    border: none;
    transition:background-color 0.2s;
}
.btn1:hover{
    cursor: pointer;
    letter-spacing: 1px;
    padding-left:2px;
    background-color: rgb(6, 6, 142);
}
.copy{
    border: 2px solid black;
    display: flex;
    
}
.copy>input[type="text"]{
   flex: 1;
   border: none;
   overflow: hidden;
   color: red;
   font-weight: bolder;
   
}
.copy>button{
    color: navy;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(20, 234, 9);
    border: none;
}
.copy>button:hover{
    cursor: pointer;
}
.section>div>input{
    margin-right: 5px;
}
.mess{
    text-align: center;
    color: red;
    margin-top: 3px;
}
.time{
    color: black;
    
}